connectors/n8n/orbit_error_reporter.json
{
  "name": "Orbit Error Reporter",
  "nodes": [
    {
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Build Orbit Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ── CONFIGURATION — edit the values below ─────────────────────────\nconst ORBIT_API_URL    = 'https://prod.nesecurity.com.br/orbit-core'; // TODO\nconst ORBIT_BASIC_USER = 'orbitadmin';                               // TODO\nconst ORBIT_BASIC_PASS = '';   // leave empty if using ORBIT_API_KEY  // TODO\nconst ORBIT_API_KEY    = '';   // use instead of BasicAuth if preferred\n// ────────────────────────────────────────────────────────────────────\n\nconst exec   = ($input.item.json.execution) || {};\nconst wfInfo = ($input.item.json.workflow)   || {};\nconst err    = exec.error || {};\nconst wfName = wfInfo.name || wfInfo.id || 'unknown';\nconst wfId   = wfInfo.id  || '';\nconst execId = String(exec.id || 'unknown');\nconst node   = (typeof err.node === 'object' ? err.node?.name : err.node) || exec.lastNodeExecuted || 'unknown';\nconst errMsg = err.message || 'Execution failed';\nconst now    = new Date().toISOString();\n\nconst event = {\n  ts:          now,\n  asset_id:    `workflow:${wfName}`,\n  namespace:   'n8n',\n  kind:        'execution_error',\n  severity:    'high',\n  title:       `Workflow \"${wfName}\" failed — ${errMsg.slice(0, 100)}`,\n  message:     `Execution ${execId} failed. Last node: ${node}. Error: ${errMsg}`,\n  fingerprint: `n8n:error:${execId}`,\n  attributes: {\n    execution_id:       execId,\n    execution_url:      exec.url || '',\n    workflow_id:        wfId,\n    workflow_name:      wfName,\n    last_node_executed: exec.lastNodeExecuted || '',\n    error_message:      errMsg,\n    error_node:         node,\n    mode:               exec.mode || '',\n  },\n};\n\n// Build Authorization header\nlet authHeader;\nif (ORBIT_API_KEY) {\n  authHeader = `Bearer ${ORBIT_API_KEY}`;\n} else {\n  const b64 = Buffer.from(`${ORBIT_BASIC_USER}:${ORBIT_BASIC_PASS}`).toString('base64');\n  authHeader = `Basic ${b64}`;\n}\n\nreturn {\n  orbitUrl:   `${ORBIT_API_URL}/api/v1/ingest/events`,\n  authHeader: authHeader,\n  body:       JSON.stringify({ events: [event] }),\n};"
      }
    },
    {
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Ship to Orbit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.orbitUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.authHeader }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}"
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Build Orbit Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Orbit Event": {
      "main": [
        [
          {
            "node": "Ship to Orbit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
